*,
body {
  padding: 0;
  margin: 0;
  font-family: Arial;
  font-weight: bold;
}

#topnav {
  background-color: #EBF9F8;
}

/* Quote Machine */
#topnav h1 {
  font-size: 30px;
  margin-left: 60px;
}

h1 {
  font-size: 30px;
}

h1 span {
  font-weight: bold;
  color: #16BBCE;
}

.wrapper {
  width: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 75%;
  margin: 50px auto;
  padding: 10px;
}

.container {
  width: 100%;
  background-color: #ebf9f8;
  padding: 50px 40px;
  box-shadow: 0 20px 60px #16bbce;
  position: relative;
  border-radius: 5px;
  text-align: center;
  margin-left: 0px; 
}

.container:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 120%;
  background-color: #33cccc;
  z-index: -1;
  top: -10%;
  left: 10%;
}

#theme {
  text-align: center;
  margin: auto;
}

/* Quote */
.container p {
  color: black;
  line-height: 2;
  font-size: 20px;
  font-weight: bold;
}

/* Author */
.container h3 {
  color: black;
  margin: 20px 0 60px 0;
  font-weight: bold;
}

.container p,
h3 {
  border: 5px solid turquoise;
}

.container button {
  background-color: white;
  border: 5px solid turquoise;
  padding: 15px 45px;
  border-radius: 5px;
  font-size: 30px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.container button:hover {
  background-color: #ebf9f8;
}